{% extends "_layouts/base.html" %}
{% load django_markdown %}
{% block page_title %} {{userdata.fullname|title}} | {% endblock %}
{% block page_style %}
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}plugins/font-awesome/css/font-awesome.css">
    <!-- github acitivity css -->
    <link rel="stylesheet" href="{{STATIC_URL}}plugins/dist/github-activity-0.1.0.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}plugins/dist/octicons/octicons.min.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{STATIC_URL}}css/styles.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}
{% block page_content %}
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="{{MEDIA_URL}}{{userdata.image}}" alt="Rohan Roy" height="180" width="180" style='border:{{userdata.border_width}}px solid #{{userdata.border_color}}' />
            <div class="profile-content pull-left">
                <h1 class="name">{{userdata.fullname}}</h1>
                <h2 class="desc">{{userdata.role}}</h2>   
                <ul class="social list-inline">
                    <li><a href="{{userdata.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="{{userdata.facebook}}"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="{{userdata.twitter}}"><i class="fa fa-twitter"></i></a></li>                   
                    <li><a href="{{userdata.googleplus}}"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="{{userdata.github}}"><i class="fa fa-github-alt"></i></a></li>                  
                    <li class="last-item"><a href="{{userdata.hackernews}}"><i class="fa fa-hacker-news"></i></a></li>                 
                </ul> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:{{userdata.email}}?Subject=Hello%20rohan" target="_top"><i class="fa fa-paper-plane"></i> Contact Me</a>              
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        {% for about in about_list %}
                        <div class="content">
                        
                            <p>{{about.content|markdown}}</p>
                        {% endfor %}
                            <p><a class="more-link" href="{{userdata.website}}about/"><i class="fa fa-external-link"></i> More About Me</a></p> 
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content">    
                            <div class="item featured text-center">
                                <h3 class="title"><a href="{{latest.url}}" target="">{{latest.title}}</a> </h3>
                                <p class="summary">{{latest.subtitle|title}}</p>
                                <div class="featured-image">
                                    <a href="{{latest.get_absolute_url}}" target="">
                                    <img class="img-responsive project-image" src="{{MEDIA_URL}}{{latest.image}}" alt="{{latest.title|title}}" />
                                    </a>
                                    <div class= "ribbon">
                                        <div class="text">New</div>
                                        </div>
                                    </div>
                                    
                                <div class="desc text-left">                                    
                                    {{latest.content|markdown}}
                                </div><!--//desc-->         
                                <a class="btn btn-cta-secondary" href="{{latest.github}}" target="_blank"><i class="fa fa-thumbs-o-up"></i> Fork me on Github</a>                 
                            </div><!--//item-->
                            <hr class="divider" />
                            {% for project in project_list %}
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="{{project.github}}" target="_blank">
                                <img class="img-responsive project-image" src="{{MEDIA_URL}}{{project.side_image}}" alt="{{project.title|title}}" style="border:5px solid #f3f3f3;"  />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="{{project.url}}" target="">{{project.title|title}} </a><small>{{project.date|date:'M j, Y'}}</small></h3>
                                    <p>{{project.content|markdown}}</p>
                                    <p><a class="more-link" href="{{project.get_absolute_url}}" target=""><i class="fa fa-external-link"></i> Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            {% endfor %}
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
               
                
                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            {% for work in work_list %}
                            <div class="item">
                                <h3 class="title">{{work.designation|title}} - <span class="place"><a href="{{work.website}}">{{work.company|title}}</a></span> <span class="year">( {{work.span}} )</span></h3>
                                {{work.content|markdown}}
                            </div><!--//item-->
                            {% endfor %}
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">My GitHub</h2>                
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->                      
                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span> &nbsp;{{userdata.location}}</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:{{userdata.contact}}">{{userdata.contact}}</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="{{userdata.website}}">{{userdata.website}}</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            
                            <div class="skillset">
                                {% for skill in skill_list %}
                                <div class="item">
                                    <h3 class="level-title">{{skill.name}}<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="{{skill.info}}">{{skill.stage}}</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="{{skill.rating}}%"></div>
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->

                                {% endfor %}
                                
                                <p><a class="more-link" href="{{userdata.linkedin}}"><i class="fa fa-external-link"></i> More on LinkedIn</a></p> 
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="testimonials aside section">
                    <div class="section-inner">
                        <h2 class="heading">Testimonials</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fa fa-quote-left"></i>{{userdata.testimonial}}</p>
                                </blockquote>                
                                <p class="source"><span class="name">{{userdata.testimonial_name|title}}</span><br /><span class="title">{{userdata.testimonial_desig|title}}</span></p>                                                             
                            </div><!--//item-->
                            
                            <p><a class="more-link" href="{{userdata.testimonial_link}}"><i class="fa fa-external-link"></i> More on Linkedin</a></p> 
                            
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            {% for edu in education_list %}
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> {{edu.mode|title}} {{edu.course|title}}</h3>
                                <a href="{{edu.website}}"><h4 class="university">{{edu.institution|title}} </a><span class="year">({{edu.start_date|date:'Y'}}-{{edu.is_present}})</span></h4>
                            </div><!--//item-->
                            {% endfor %}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                {% for lang in language_list %}
                                
                                <li class="item">
                                    <span class="title"><strong>{{lang.language|title}}:</strong></span>
                                    <span class="level">{{lang.get_proficiency_display|title}}<br class="visible-sm visible-xs"/>{% for i in lang.star %} <i class="fa fa-star"></i>{% endfor %}</span>
                                </li><!--//item-->
                                {% endfor %}
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="blog aside section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Blog Posts</h2>
                        <div class="content">   
                            <ul class="list-unstyled">
                                {% for post in post_list %}
                                <li><i class="fa fa-chevron-circle-right"></i> <a href="{{post.get_absolute_url}}">{{ post.title|title }}</a></li>    
                                {% empty %}
                                <li>
                                    <span class="fa-stack">
                                        <i class="fa fa-heart fa-stack-1x"></i>
                                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                                    </span>
                                    Sorry, no post yet. Check back soon!
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        <hr>
                        <p><a class="more-link" href="{% url 'blog:list' %}"><i class="fa fa-external-link"></i> More on My Blog</a></p> 
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">Favourite coding music</h2>
                        <div class="content">
                            {% for music in music_list %}
                            <ul class="list-unstyled">
                                <li><i class="fa fa-headphones"></i> <a href="{{music.url}}">{{music.music|title}}</a></li>
                            </ul>
                            {% endfor %}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                {% for conf in conference_list %}
                                <li><i class="fa fa-calendar"></i> <a href="{{ conf.link }}" target="_blank">{{conf.name}}</a> ({{conf.place|title}})</li>
                                {% endfor %}
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="credits aside section">
                    <div class="section-inner">
                        <h2 class="heading">Credits</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><a href="http://getbootstrap.com/" target="_blank"><i class="fa fa-external-link"></i> Bootstrap 3.2</a></li>
                                <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank"><i class="fa fa-external-link"></i> FontAwsome 4.1</a></li>
                                <li><a href="http://jquery.com/" target="_blank"><i class="fa fa-external-link"></i> jQuery</a></li>
                                <li><a href="http://caseyscarborough.com/projects/github-activity/" target="_blank"><i class="fa fa-external-link"></i> GitHub Activity Stream</a></li>
                                
                                <li><a href="https://github.com/sdepold/jquery-rss" target="_blank"><i class="fa fa-external-link"></i> jQuery RSS</a></li>
                                
                            </ul>
                            
                            <hr/>
                            <a class="btn btn-cta-secondary btn-follow" href="{{userdata.twitter}}" target="_blank"><i class="fa fa-twitter"></i> Follow me</a>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Advertisements</h2>
                        <div class="content">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- rohanroy.com_responsive_april19 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-6174669567663845"
                                 data-ad-slot="6012284410"
                                 data-ad-format="auto"></ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="{{userdata.website}}" target="_blank">Rohan Roy</a></small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="{{STATIC_URL}}plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}plugins/bootstrap/js/bootstrap.min.js"></script>    
   <!--  // <script type="text/javascript" src="{{STATIC_URL}}plugins/jquery-rss/dist/jquery.rss.min.js"></script>  -->
    <!-- github activity plugin -->
    <script type="text/javascript" src="{{STATIC_URL}}plugins/dist/mustache/mustache.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}plugins/dist/github-activity-0.1.0.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>            
{%endblock%}