Django==1.8.2
django-disqus
django-markdown
Markdown
mock
Pillow
pycrypto
six
django-environ
django-admin-bootstrapped
django-authtools
django-crispy-forms
easy-thumbnails
django-braces
django-debug-toolbar
Werkzeug
uwsgi
pep8
coverage
psycopg2
mysqlclient
fabric3
django-storages-redux
boto
django-compressor
pytz