Django==1.8.2
django-disqus
django-markdown
Markdown
mock
Pillow
pycrypto
six
django-environ
django-admin-bootstrapped
django-authtools
django-crispy-forms
easy-thumbnails
django-braces
django-debug-toolbar
Werkzeug
uwsgi
pep8
coverage
psycopg2
mysqlclient
fabric3
django-storages-redux
boto==2.42.0
django-compressor
pytz
Faker
celery==4.1.0
twilio==6.5.2
redis==2.10.6
rabbitmq==0.2.0
raven==6.1.0
