#!/bin/bash

set -e

export MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD;
mysql -uroot -p$MYSQL_ROOT_PASSWORD <<-EOSQL
    DROP DATABASE IF EXISTS miniblog;
    CREATE DATABASE miniblog;
    CREATE USER apps IDENTIFIED BY '{{MYSQL_PASSWORD}}';
    GRANT ALL PRIVILEGES ON miniblog.* TO apps@'%';
    FLUSH PRIVILEGES;
    USE miniblog;
    SET autocommit=0 ;
    SOURCE /app-mysql/miniblog.sql ;
    COMMIT ;
EOSQL
