#!/bin/bash

set -e

export MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD;
mysql -uroot -p$MYSQL_ROOT_PASSWORD <<-EOSQL
    CREATE DATABASE IF NOT EXISTS {{DATABASE}};
    CREATE USER '{{DATABASE_USER}}' IDENTIFIED BY '{{DATABASE_PASSWORD}}';
    GRANT ALL PRIVILEGES ON {{DATABASE}}.* TO {{DATABASE_USER}}@'%';
    FLUSH PRIVILEGES;
EOSQL
