#!/bin/bash

set -e

export MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD;
mysql -uroot -p$MYSQL_ROOT_PASSWORD <<-EOSQL
    CREATE DATABASE IF NOT EXISTS miniblog;
    CREATE USER apps IDENTIFIED BY '{{MYSQL_PASSWORD}}';
    GRANT ALL PRIVILEGES ON miniblog.* TO apps@'%';
    FLUSH PRIVILEGES;
EOSQL
