SECRET_KEY=
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=*
DJANGO_SETTINGS_MODULE=miniblog.settings.development
LOG_FILE_PATH=/var/logs/app_logs
MYSQL_ROOT_PASSWORD=
MYSQL_USERNAME=
MYSQL_PASSWORD=
PMA_HOST=
DATABASE=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
ENGINE=
PORT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_HOST=
AWS_S3_SECURE_URLS=
EMAIL_TO=
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_FROM=
EMAIL_USE_TLS=
DISQUS_API_KEY=
DISQUS_WEBSITE_SHORTNAME=
WEB_HOST=
DB_HOST=